# BlockBerry Web Editor – optional overrides (Vite)
VITE_KEYCLOAK_URL=https://keycloak.protronic-gmbh.de
VITE_KEYCLOAK_REALM=openCloud
VITE_KEYCLOAK_CLIENT_ID=blockberry-editor-client
VITE_COUCH_URL=https://couch.protronic-gmbh.de/couchdb
VITE_COUCH_DB=blockberry-projects
